form {
    display: grid;
    padding: 10px;
    grid-template-rows: 50px;
}

label {
    margin-right: 5px;
    margin-left: 5px;
}

input {
    padding: 10px;
    margin-left: 3px;
    margin-right: 10px;
}

.submitButton {
    display: grid;
    margin: auto;
    padding: 10px;
    width: 70px;
    height: 25px;
}